
   
     
        
    <div class="rooow">     

        <div class="slide2">
          <h5 class="WWW">New Collection 2023</h5>      
          <P class="paraa">Great Furniture Design Collection.</P>
          <a class="ppppo" href="#" (click)="beri()"> Get Started  </a>

        </div> 
      
      

        <h3 class="ccc2">Collection list</h3>
        <div class="title22">

        
          <div class="column22">
            <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_2_87a9cf1e-e8f5-4143-8d2b-a7f3a272b255_208x208.jpg?v=1635775907" alt="">
            <h2>Indoor Collection </h2>
          </div>
        
          <div class="column22">
            <a routerLink="/about"> <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_1_a5b4c56e-c62b-4efe-98cb-7174aff26d83_208x208.jpg?v=1635775907" alt=""></a>
            <h2>Outdoor Collection </h2>
          </div>
        
            <div class="column22" >
              <img  class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_3_ef2da8c2-923b-49f3-a34e-cbeb5c76eece_208x208.jpg?v=1635775907" alt="">
        
            <h2>Chaise Lounges</h2>
          </div>
        
            <div class="column22">
              <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_5_4ac5a9ee-89b0-4c85-a963-3009a978bfcd_208x208.jpg?v=1635775908" width="" alt="">
        
            <h2>Chairs</h2>
          </div>
          
          <div class="column22">
            <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_6_33299f36-30f9-42eb-9103-dda83d68a271_208x208.jpg?v=1635775907" alt="">
        
            <h2>Couches</h2>
          </div>
           <div class="column22">
            <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_4_e562398c-5e9a-43ce-8401-1e665e185227_208x208.jpg?v=1635775907" alt="">
        
            <h2>Swings</h2>
          </div>

          <div class="column222">
            <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_2_87a9cf1e-e8f5-4143-8d2b-a7f3a272b255_208x208.jpg?v=1635775907" alt="">
            <h2>Indoor Collection </h2>
          </div>

          <div class="column222" >
            <img  class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_3_ef2da8c2-923b-49f3-a34e-cbeb5c76eece_208x208.jpg?v=1635775907" alt="">
      
          <h2>Chaise Lounges</h2>
        </div>
        <div class="column222">
          <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_6_33299f36-30f9-42eb-9103-dda83d68a271_208x208.jpg?v=1635775907" alt="">
      
          <h2>Couches</h2>
        </div>

        <div class="column222">
          <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_4_e562398c-5e9a-43ce-8401-1e665e185227_208x208.jpg?v=1635775907" alt="">
      
          <h2>Swings</h2>
        </div>
          
        
        </div>
        <div class="btn1">
          <a routerLink="/about">View All</a>
        </div>



        <div class="cono">
          <div class="rwo">

           <div class="khmseen1"> 
            <h1>Furniture Modern</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, euismod tincidunt ut laoreet dolor.</p>

            <div class="butt">
            <a routerLink="/">shop</a>
            <a routerLink="/">contact</a>
          </div>
          

           </div>
           <div class="khmseen2">
           </div>

          </div>

        
  
        </div>

        <div class="main-title">
            <h1> WHAT'S NEW WITH US ..</h1>
             </div>

         <div class="scrl">
           <div class="scroll">
         
            <div class="crol">
             <h1>The Most Beautiful And Latest Products Ever.®</h1>
             <P>Lorem ipsum dolor sit amet, euismod tincidunt  ut laoreet dolor.</P>
                 <a href="/">More Collection</a>
            </div>
         
           
          <div class="grid">
                
             <div class="qrst">
               <img class="m8" src="https://imagescdn.simons.ca/images/12754/4131911/1/A1_2.jpg?__=3" width="310px" alt="">
             </div>
             
             <div class="qrst">
               <img class="m8" src="https://imagescdn.simons.ca/images/19438/22404431/41/A1_2.jpg?__=5" width="310px" alt="">             
             </div>
             
             <div class="qrst">
               <img class="m8" src="https://imagescdn.simons.ca/images/12797/22309001/1/A1_2.jpg?__=4" width="310px" alt="">             
             </div>
             
             <div class="qrst">
               <img class="m8" src="https://imagescdn.simons.ca/images/19249/22303647/1/A1_2.jpg?__=6" width="310px" alt="">             
             </div>
             
             <div class="qrst">
               <img class="m8" src="https://imagescdn.simons.ca/images/15466/2223000/10/A1_2.jpg?__=3" width="310px" alt="">            
             </div>
             
             <div class="qrst">
               <img class="m8" src="https://imagescdn.simons.ca/images/13979/2212100/10/A1_2.jpg?__=7" width="310px" alt="">            
             </div>
             
             <div class="qrst">
               <img class="m8" src="https://imagescdn.simons.ca/images/19249/22304655/1/A1_2.jpg?__=4" width="310px" alt="">            
             </div>
                         
             <div class="qrst">
               <img class="m8" src="https://imagescdn.simons.ca/images/19249/22303647/1/A1_2.jpg?__=6" width="310px" alt="">           
             </div>
             
             <div class="qrst">
               <img class="m8" src="https://imagescdn.simons.ca/images/12754/22302005/1/A1_2.jpg?__=5" width="310px" alt="">
             
             </div>
             </div>            
              </div>
          </div>
    

        
       
      <div class="our-work "> 
           <div class="container">  
      
               
        <div class="row mb-5">

                    <div class="col-md-12 col-lg-4 twoshow1">     
                    <div class="card">
                      <h1 class="orange "> Sale 5% </h1>
                 <a routerLink="/about" (click)="iii()"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0025425_SSDSDENTS_3c63c_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>

                   <div class="card-body">
                    <span class="text-black-50 "> Technology  furniture</span>

                 <h5 class="card-title">Lorem ipsum dolor sit amet, consectetuer.</h5>
                 <h3 class="showinggg">Lorem ipsum dolor sit amet, consectetuer.</h3>

                 <div class="star">
                  <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><br>
                   </div>
 
                    <div class="number">
                     <span class="ccc">$420.00</span>
                     <span class="ccc1">$820.00</span>
 
                    </div>
                </div>
                  </div>
                 </div>
                       
                            
                 <div class="col-md-12 col-lg-4 twoshow1">     
                    <div class="card">
                      <h1 class="orange "> Sale 10%</h1>
                      <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0024817_TAJCDAI_4c300_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
                   <div class="card-body">
                 <span class="text-black-50"> Technology  furniture</span>
                 <h5 class="card-title">Lorem ipsum dolor sit amet, consectetuer.</h5>
                 <h3 class="showinggg">Lorem ipsum dolor sit amet, consectetuer.</h3>
                 <div class="star">
                  <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><br>
                   </div>
                    <div class="number">
                     <span class="ccc">$420.00</span>
                     <span class="ccc1">$820.00</span>
 
                    </div>

                   </div>
                  </div>
                 </div>
                 


                 <div class="col-md-12 col-lg-4 twoshow1">     
                  <div class="card">
                    <h1 class="orange "> Sale 20%</h1>

                    <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0024863_TVEMEDG70G_51213_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
                 <div class="card-body">
               <span class="text-black-50">Technology  furniture</span>
               <h5 class="card-title">Lorem ipsum dolor sit amet, consectetuer.</h5>
               <h3 class="showinggg">Lorem ipsum dolor sit amet, consectetuer.</h3>

               <div class="star">
                <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span><br>
                 </div>

                  <div class="number">
                   <span class="ccc">$420.00</span>
                   <span class="ccc1">$820.00</span>

                  </div>


                 </div>
                </div>
               </div>




               <div class="col-md-6 col-lg-4 twoshow1">     
                <div class="card">
                  <h1 class="orange "> Sale 10%</h1>

                  <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0012158_DEWAEV73180_8aa4f_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
               <div class="card-body">
             <span class="text-black-50">Technology  furniture</span>
             <h5 class="card-title">Lorem ipsum dolor sit amet, consectetuer.</h5>
             <h3 class="showinggg">Lorem ipsum dolor sit amet, consectetuer.</h3>

             <div class="star">
              <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span><br>
               </div>

                <div class="number">
                 <span class="ccc">$420.00</span>
                 <span class="ccc1">$820.00</span>

                </div>


               </div>
              </div>
             </div>
                       
            
             

             <div class="col-md-6 col-lg-4 twoshow1">     
              <div class="card">
                <h1 class="orange "> Sale 30%</h1>

                <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0002256_sparrow-3-piece-table-set_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
             <div class="card-body">
           <span class="text-black-50"> Technology  furniture</span>
           <h5 class="card-title">Lorem ipsum dolor sit amet, consectetuer.</h5>
           <h3 class="showinggg">Lorem ipsum dolor sit amet, consectetuer.</h3>

           <div class="star">
            <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span><br>
             </div>

              <div class="number">
               <span class="ccc">$420.00</span>
               <span class="ccc1">$820.00</span>

              </div>


         

             </div>
            </div>
           </div>



           <div class="col-md-6 col-lg-4 twoshow1">     
            <div class="card">
              <h1 class="orange "> Sale 22%</h1>

              <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0002662_chalet-ii-king-bed_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
           <div class="card-body">
         <span class="text-black-50"> Technology  furniture</span>
         <h5 class="card-title">Lorem ipsum dolor sit amet, consectetuer.</h5>
         <h3 class="showinggg">Lorem ipsum dolor sit amet, consectetuer.</h3>

         <div class="star">
          <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span><br>
           </div>

            <div class="number">
             <span class="ccc">$420.00</span>
             <span class="ccc1">$820.00</span>

            </div>


           </div>
          </div>
         </div>



         <div class="col-md-6 col-lg-4 twoshow1">     
          <div class="card">
            <h1 class="orange "> Sale 50%</h1>

            <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0000877_paul-bunyan-ii-chair_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
         <div class="card-body">
       <span class="text-black-50">Technology  furniture</span>
       <h5 class="card-title">Lorem ipsum dolor sit amet, consectetuer.</h5>
       <h3 class="showinggg">Lorem ipsum dolor sit amet, consectetuer.</h3>

       <div class="star">
        <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span><br>
         </div>

          <div class="number">
           <span class="ccc">$420.00</span>
           <span class="ccc1">$820.00</span>

          </div>


         </div>
        </div>
       </div>
       

       <div class="col-md-6 col-lg-4 twoshow1">     
        <div class="card">
          <h1 class="orange "> Sale 30%</h1>

          <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0010634_side-accent-table-red-236_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
       <div class="card-body">
     <span class="text-black-50"> Technology  furniture</span>
     <h5 class="card-title">Lorem ipsum dolor sit amet, consectetuer.</h5>
     <h3 class="showinggg">Lorem ipsum dolor sit amet, consectetuer.</h3>

     <div class="star">
      <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span><br>
       </div>

        <div class="number">
         <span class="ccc">$420.00</span>
         <span class="ccc1">$820.00</span>

        </div>


       </div>
      </div>
     </div>


     <div class="col-md-6 col-lg-4 twoshow1">     
        <div class="card">
          <h1 class="orange "> Sale 20%</h1>

          <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0002267_joana-table-6-chairs.jpeg" class="card-img-top"  alt="blog post 1 "></a>
       <div class="card-body">
     <span class="text-black-50"> Technology  furniture</span>
     <h5 class="card-title">Lorem ipsum dolor sit amet, consectetuer.</h5>
     <h3 class="showinggg">Lorem ipsum dolor sit amet, consectetuer.</h3>

     <div class="star">
      <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span><br>
       </div>

        <div class="number">
         <span class="ccc">$420.00</span>
         <span class="ccc1">$820.00</span>

        </div>


       </div>
      </div>
     </div>


     <div class="col-md-6 col-lg-4 twoshow1">     
      <div class="card">
        <h1 class="orange "> Sale 50%</h1>

        <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0023477_dryden-ii-royale-navy-sofa_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
     <div class="card-body">
   <span class="text-black-50"> Technology  furniture</span>
   <h5 class="card-title">Lorem ipsum dolor sit amet, consectetuer.</h5>
   <h3 class="showinggg">Lorem ipsum dolor sit amet, consectetuer.</h3>

   <div class="star">
    <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span><br>
     </div>

      <div class="number">
       <span class="ccc">$420.00</span>
       <span class="ccc1">$820.00</span>

      </div>


     </div>
    </div>
   </div>


   <div class="col-md-6 col-lg-4 twoshow1">     
    <div class="card">
      <h1 class="orange "> Sale 5%</h1>

      <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0010908_st-james-light-pine-end-table_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
   <div class="card-body">
 <span class="text-black-50"> Technology  furniture</span>
 <h5 class="card-title">Lorem ipsum dolor sit amet, consectetuer.</h5>
 <h3 class="showinggg">Lorem ipsum dolor sit amet, consectetuer.</h3>

 <div class="star">
  <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span><br>
   </div>

    <div class="number">
     <span class="ccc">$420.00</span>
     <span class="ccc1">$820.00</span>

    </div>


   </div>
  </div>
 </div>

     



       <div class="col-md-6 col-lg-4 twoshow1">     
        <div class="card">
          <h1 class="orange "> Sale 30%</h1>

          <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0020991_watson-console_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
       <div class="card-body">
     <span class="text-black-50"> Technology  furniture</span>
     <h5 class="card-title">Lorem ipsum dolor sit amet, consectetuer.</h5>
     <h3 class="showinggg">Lorem ipsum dolor sit amet, consectetuer.</h3>

     <div class="star">
      <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span><br>
       </div>

        <div class="number">
         <span class="ccc">$420.00</span>
         <span class="ccc1">$820.00</span>

        </div>


       </div>
      </div>
     </div>




    <div class="name1">
     <h1>PRODUCTS</h1>
     <h6 class="para1">Lorem ipsum dolor sit amet,euismod tincidunt ut laoreet dolorLorem ipsum dolor. </h6>
    </div>
  
    
     </div> 
   
       </div>
      </div>
   
      
 
      <div class="rooow1">


        <div class="column0">
          <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/12_cc010800-c1dc-4bf5-9057-91ab680fcf28_236x236.jpg?v=1613940325" alt="">
          <h2>recliner-chair </h2>
        </div>
      
        <div class="column0">
          <a routerLink="/about"> <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/03_61898f5d-8604-4688-823b-5b66c5c15c7f_236x236.jpg?v=1612051120" alt=""></a>
          <h2>loveseat </h2>
        </div>
      
          <div class="column0" >
            <img  class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/06_ed0f9b26-e4bb-4baf-8a49-ace2aabc2db6_236x236.jpg?v=1612053646" alt="">
      
          <h2>shoes-rack</h2>
        </div>
      
          <div class="column0">
            <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/BeigeOutdoorSeda_0d982477-4178-4279-a718-3552006088d0_236x236.jpg?v=1614474126" width="" alt="">
      
          <h2>coffee-table</h2>
        </div>
        
        <div class="column0">
          <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/Beach_Beige_Outdoor_Seda_236x163.jpg?v=1638354350" alt="">
      
          <h2>side-table</h2>
        </div>
         <div class="column0">
          <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/BeigeOutdoorSeda_bb7d482c-d315-4a99-9211-5eb9971bc26b_236x236.jpg?v=1614474607" alt="">
      
          <h2>side-table</h2>
        </div>
      
        <div class="column0">
          <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/ScreenShot2021-02-21at9.00.45AM_221x185.png?v=1613890862" alt="">
      
          <h2>side-table</h2>
        </div>
      
        <div class="column0">
          <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/WhatsAppImage2021-01-17at6.11.45PM_1_236x236.jpg?v=1610900200" alt="">
      
          <h2>side-table</h2>
        </div>
      
        <div class="column0">
          <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/BeigeOutdoorSeda_66e1ec82-a8d6-405b-9fb3-bbabe581b866_236x226.jpg?v=1614470346" alt="">
      
          <h2>side-table</h2>
        </div>
        
        <div class="column0">
          <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/ScreenShot2021-02-21at9.04.40AM_236x181.png?v=1613891097" alt="">
      
          <h2>side-table</h2>
        </div>
      
        <div class="column0">
          <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/untitled.222819_2_237x199.png?v=1617011779" alt="">
      
          <h2>side-table</h2>
        </div>
      
        <div class="column0">
          <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/image_5eb187ff-8768-441a-87cb-b8101020efed_236x236.jpg?v=1612796251" alt="">
      
          <h2>side-table</h2>
        </div>
      
        
      </div>
       


    
      <div class="col9" >
        <h1 class="name7 ">Lorem ipsum dolor sit amet, euismod tincidunt ut laoreet dolor euismod tincidunt ut laoreet dolor. euismod tincidunt ut laoreet dolor... Lorem ipsum dolor sit amet euismod tincidunt ut laoreet dolor, consectetuer adipiscing elit,  euismod tincidunt ut laoreet dolor..</h1>
      </div>



      <div class="rowoo ">

        <div class="vcv col-md-3 col-lg-3">     
        <div class="card1">
          <img class="leeeel" src="https://www.sunonglobal.com/bocupload/2021/09/16/163175740072184oxx6.jpg"   alt="">
          
          <div class="card-bodyyy">
            <span class="text-black-50"> Table </span>
        </div>
      </div>
     </div>
           
               
     <div class="vcv col-md-3 col-lg-3">     
        <div class="card1">
          <img  class="leeeel" src="https://www.sunonglobal.com/bocupload/2021/09/16/16317573898498zsodd.jpg" alt="">
          <div class="card-bodyyy">
            <span class="text-black-50">Seating</span>
        </div>
      </div>
     </div>

     <div class="vcv col-md-3 col-lg-3">     
      <div class="card1">
        <img  class="leeeel" src="https://www.sunonglobal.com/bocupload/2021/09/16/16317573898498zsodd.jpg" alt="">
        <div class="card-bodyyy">
          <span class="text-black-50">Desk</span>
      </div>
    </div>
   </div>


   <div class="vcv col-md- col-lg-3">     
    <div class="card1">
      <img  class="leeeel" src="https://www.sunonglobal.com/bocupload/2021/05/17/16212291282073ibc0c.jpg"   alt="">
      <div class="card-bodyyy">
        <span class="text-black-50"> Storage</span>
    </div>
  </div>
 </div>



     </div>

    
     <div class="col5" >
      <h1 class="name9 ">Lorem ipsum dolor sit amet, euismod tincidunt ut laoreet dolor euismod tincidunt ut laoreet dolor. euismod tincidunt ut laoreet dolor... Lorem ipsum dolor sit amet euismod tincidunt ut laoreet dolor, consectetuer adipiscing elit,  euismod tincidunt ut laoreet dolor..</h1>
    </div>



            <div class="container7">        
              <div class="roww7 ">

                
                  <h1 class="wow">WORKPLACE SOLUTIONS</h1>  
                  <div class="bbbo">
                    <a routerLink="/portofolio"><button class="bttn1" >Get Started</button></a>
                 


            
               
               
             
              </div>
              
            </div>
            </div>
            
     
            

         
                 


       




         


         



           
          
         
          
          
       
       

       

            
             



               
           
       
          

                 
        
     
           
                        
                        
                   