.containerr{

  width: 100%;
  background-image: url(../img/sssssssssssss.webp);
  background-size:cover ;
  height: 70vh;



}

.rowww{

padding: 0 10px;
text-align: center;
width: 100%;

}

@media screen and (Max-width: 970px){
 
  .rowww{

    padding: 0 15px;
    margin-right: 9px;
    width: 100%;
    
    }
    .containerr{

      width: 100%;
      background-image: url(../img/sssssssssssss.webp);
      background-size:cover ;
      height: 22vh;
    
    
    
    }
    
}

.tite{
padding: 70px ;
text-align: center;
font-family:'Times New Roman', Times, serif;
font-weight: 900;
font-size: 15px;

color: rgb(24, 23, 23);
}
.tite h1{

font-size: 30px;
}
@media screen and (Max-width: 970px){

 
  .tite{
    padding: 20px ;
    margin-top: 30px;
  
    
    }
}


/*
.piv{

margin-left: 40px;
margin-bottom: 11px;

}
*/
.r{
  padding: 40px;
}
.vcv{

display: flex;
font-family: Roboto;
font-weight: 900;
font-size: 16px;
}
.nana{

  width: 25%;
  text-align: center;
  margin-bottom: 70px;
}
.nana p{

  color: #909092;
  text-decoration: none;
}
.nana a{

  text-decoration: none;
  color: #909092;
  text-decoration: underline;


}



@media screen and (max-width: 600px){


  .vcv{
  
  display:flow-root;
  text-align: center;
  font-family:cursive;
  top: 0;
  margin: 0;
  
  }
  .piv{

    display: none;
    margin: 0;
    text-align: center;
    align-self: center;
    top: 0;
    

  }
  .card-body {

align-items: center;
top: 0;
margin: 0;
display: flex;
padding: 0 20px;


    
  }
  .card-body p{

    font-size: 14px;
    display: inline-block;
margin-top: 8px; 
padding: 0; 
text-decoration: none;
}
.card-body a{

  text-decoration: none;
  margin-bottom: 9px;
  font-size: 15px;


}
  .card-body h1{
font-size: 18px;
color: #666666;
top: 0;
display: inline-block;
padding-right: 4px;


  }
  
  .nana{
  
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0 40px;


  }
 

}





input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.uoo {
  font-size: 1.8rem;
  text-decoration: none; 
  font-family:sans-serif;
font-weight: 900;
  text-align: center;
  padding: 30px;
 
}
.uoo a{
  color:#5daf1a;

}
.logo{

  text-decoration: none;

}
form label{
  font-family:sans-serif;
font-weight: 600;
color: #1a1919;

}
form .yyy{

width: 20%;
background-color: #72bc2f;
border-radius: 0;
margin-left: 36%;
margin-top: 2%;
}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 60px;
  width: 100%;
}

@media screen and (max-width:900px){

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
 
  .uoo a{
    color:#5daf1a;
  font-size: 25px;
  font-weight: 900;
  }
  .container {
   
    margin-bottom: 20px;
  }
  form .yyy{

    width: 40%;
    margin-left: 30%;
    background-color: #72bc2f;
    border-radius: 0;

    }
  
  
 
}



.ping{

  width: 100%;
  padding: 0;
  top: 0;


}
.dowing{

width: 60%;
background-color:#fafaf9;
text-align: center;
margin-left: 22%;
padding: 0;
top: 0;
display: block;

}
.showing{
  padding: 20px;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  width: 50%;

}
.ware{

  display:flex;
  width: 100%;
  padding: 0 10%;
  transition: 0.9s;
  font-size: 20px;
  text-align: center;
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s

}

@media screen and (max-width:900px){

  .ping{

    display: none;
  }
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0.9)} 
}
  
@keyframes animatezoom {
  from {transform: scale(0.9)} 
}


.content{

  display: none;
}

  
/* data */ 

.ooo{

  padding: 0 90PX;

}
.column {
  float: left;
  width: 50%;
  margin: 10px;
}

.TURN{
display: flex;
justify-content: space-between;
}
