<div class="ddd">
 </div> 

 <h1 class="sdss">collections furniture 2023</h1>
 
 <div class="rooow1">


  <div class="column0">
    <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/12_cc010800-c1dc-4bf5-9057-91ab680fcf28_236x236.jpg?v=1613940325" alt="">
    <h2>recliner-chair </h2>
  </div>

  <div class="column0">
    <a routerLink="/about"> <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/03_61898f5d-8604-4688-823b-5b66c5c15c7f_236x236.jpg?v=1612051120" alt=""></a>
    <h2>loveseat </h2>
  </div>

    <div class="column0" >
      <img  class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/06_ed0f9b26-e4bb-4baf-8a49-ace2aabc2db6_236x236.jpg?v=1612053646" alt="">

    <h2>shoes-rack</h2>
  </div>

    <div class="column0">
      <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/BeigeOutdoorSeda_0d982477-4178-4279-a718-3552006088d0_236x236.jpg?v=1614474126" width="" alt="">

    <h2>coffee-table</h2>
  </div>
  
  <div class="column0">
    <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/Beach_Beige_Outdoor_Seda_236x163.jpg?v=1638354350" alt="">

    <h2>side-table</h2>
  </div>
   <div class="column0">
    <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/BeigeOutdoorSeda_bb7d482c-d315-4a99-9211-5eb9971bc26b_236x236.jpg?v=1614474607" alt="">

    <h2>side-table</h2>
  </div>

  <div class="column0">
    <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/ScreenShot2021-02-21at9.00.45AM_221x185.png?v=1613890862" alt="">

    <h2>side-table</h2>
  </div>

  <div class="column0">
    <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/WhatsAppImage2021-01-17at6.11.45PM_1_236x236.jpg?v=1610900200" alt="">

    <h2>side-table</h2>
  </div>

  <div class="column0">
    <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/BeigeOutdoorSeda_66e1ec82-a8d6-405b-9fb3-bbabe581b866_236x226.jpg?v=1614470346" alt="">

    <h2>side-table</h2>
  </div>
  
  <div class="column0">
    <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/ScreenShot2021-02-21at9.04.40AM_236x181.png?v=1613891097" alt="">

    <h2>side-table</h2>
  </div>

  <div class="column0">
    <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/untitled.222819_2_237x199.png?v=1617011779" alt="">

    <h2>side-table</h2>
  </div>

  <div class="column0">
    <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/products/image_5eb187ff-8768-441a-87cb-b8101020efed_236x236.jpg?v=1612796251" alt="">

    <h2>side-table</h2>
  </div>

  
</div>



<div class="col10" >
  <h1 class="name5 ">Lorem ipsum dolor sit amet, euismod tincidunt ut laoreet dolor euismod tincidunt ut laoreet dolor. euismod tincidunt ut laoreet dolor...</h1>
</div>



 <div class="plus">
    <div class="plus1 ">
     
   <div class="caar">

    <h1>All PRODUCTS</h1>
    <span class="text-black-50">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span><br>
    <button routerLink="/contact" class="bbtt">SHOP NOW</button>
 </div> 

 <div class="caar">
<img src="https://smartfurniture.com.eg/wp-content/uploads/2021/08/Rivoli-Chair-Landscape.png" width="75%"> 


</div>
 
 </div>
 </div> 

 



          


  
 <div class="rooow100">
  <div class="room">








     











  





  
