
    <div class="container707">
      <div class="row404">


        <div class="colll">
          <div class="info">
            <a href="/"  class="logooo"> TESLA </a>

             <p class="mmmo ">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,  euismod tincidunt ut laoreet dolorLorem ipsum dolor sit amet, consectetuer adipiscing elit,  euismod tincidunt ut laoreet dolor
              </p>

              <div class="copyright">
              created by <span >garphberry</span>
              <div>&copy; 2022 - <span >  see inc</span>
                  
                  </div>
              </div>
            </div>
          </div>
          

          <div class="colll">
            <div class="links ">
              <h5 class="text"> Links </h5>
               <ul class="list">
                 <a class="union" href="#"><li >home</li></a>
                 <a class="union" href="#"><li>our services</li></a>
                 <a class="union" href="#"><li>potofolio</li></a>
                 <a class="union" href="#"><li>testimonials</li></a>
                 <a class="union" href="#"> <li>support</li></a>
                 <a class="union" href="#"> <li>terms and condition</li></a>
                 </ul>
              </div>
          </div>

          
            <div class="colll">
            <div class="links ">
              <h5 class="text"> About Us </h5>
               <ul class="list">
                <a class="union" href="#"><li>Sign in</li></a>
                <a class="union" href="#"><li>Register</li></a>
                <a class="union" href="#"><li>About Us</li></a>
                <a class="union" href="#"><li>Blog</li></a>
                <a class="union" href="#"> <li>Contact US</li></a>
                  
                 </ul>
              </div>

       </div>
          
            <div class="colll">
              <div class="contact1 ">
                     <h5 class="text"> Contact Us</h5>
                    
                    

                    <p class="luu" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit,  euismod tincidunt ut laoreet dolorLorem ipsum dolor sit amet, consectetuer
                  </p>
                  <input type="text" class="inpuut" placeholder=" Enter E-mail Address">

                  <a class="btn " href="#">Started To G-mail </a>

                  <div class="icons">

                    <div class="koko">
                    <a href="https://www.facebook.com/"><img src="https://cdn-icons-png.flaticon.com/512/2504/2504903.png" width="30px"></a>
                  </div >

                  <div class="koko">
                    <a href="https://twitter.com/?lang=ar"><img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" width="30px"></a>
                  </div>

                  <div class="koko">
                    <a href="https://www.instagram.com/"><img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" width="30px"></a>
                  </div>

                  <div class="koko">
                   <a href="https://www.tiktok.com/ar/"><img src="https://cdn-icons-png.flaticon.com/512/3046/3046121.png" width="30px"></a>
                  </div>

                  <div class="koko">
                   <a href="https://wordpress.com/ar/"><img src="https://cdn-icons-png.flaticon.com/512/174/174881.png" width="30px"></a>
                  </div>

                  </div>


                </div>
                  </div>
                 
             </div>
             
         </div>
      
        
  
  
        