<div class="house">
   
        <div class="room">
        <img src="https://img.freepik.com/free-vector/404-error-background-with-balloons-flat-style_23-2147761279.jpg?w=826&t=st=1682275742~exp=1682276342~hmac=4f6b215e008f670797c2970a1987e3c3da0d8424fbcda0d80b2bebec1e674b00" alt="Page Not Found">
      </div>

        <h1>Oops! This page is missing</h1>
        <p>...try searching for a product instead.</p>
        <a routerLink="/" class="coi"> Go Back </a>
        <p class="xxs">Or View Our <a routerLink="/helping">help center</a></p>
    </div>
