               


<div class="rooow2">      
 </div> 
   
      
    
 <h3 class="ccc2">Collection list</h3>
 <div class="title22">

 
   <div class="column22">
     <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_2_87a9cf1e-e8f5-4143-8d2b-a7f3a272b255_208x208.jpg?v=1635775907" alt="">
     <h2>Indoor Collection </h2>
   </div>
 
   <div class="column22">
     <a routerLink="/about"> <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_1_a5b4c56e-c62b-4efe-98cb-7174aff26d83_208x208.jpg?v=1635775907" alt=""></a>
     <h2>Outdoor Collection </h2>
   </div>
 
     <div class="column22" >
       <img  class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_3_ef2da8c2-923b-49f3-a34e-cbeb5c76eece_208x208.jpg?v=1635775907" alt="">
 
     <h2>Chaise Lounges</h2>
   </div>
 
     <div class="column22">
       <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_5_4ac5a9ee-89b0-4c85-a963-3009a978bfcd_208x208.jpg?v=1635775908" width="" alt="">
 
     <h2>Chairs</h2>
   </div>
   
   <div class="column22">
     <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_6_33299f36-30f9-42eb-9103-dda83d68a271_208x208.jpg?v=1635775907" alt="">
 
     <h2>Couches</h2>
   </div>
    <div class="column22">
     <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_4_e562398c-5e9a-43ce-8401-1e665e185227_208x208.jpg?v=1635775907" alt="">
 
     <h2>Swings</h2>
   </div>

   <div class="column222">
     <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_2_87a9cf1e-e8f5-4143-8d2b-a7f3a272b255_208x208.jpg?v=1635775907" alt="">
     <h2>Indoor Collection </h2>
   </div>

   <div class="column222" >
     <img  class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_3_ef2da8c2-923b-49f3-a34e-cbeb5c76eece_208x208.jpg?v=1635775907" alt="">

   <h2>Chaise Lounges</h2>
 </div>
 <div class="column222">
   <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_6_33299f36-30f9-42eb-9103-dda83d68a271_208x208.jpg?v=1635775907" alt="">

   <h2>Couches</h2>
 </div>

 <div class="column222">
   <img class="mg" src="https://cdn.shopify.com/s/files/1/0468/2966/6460/files/Artboard_4_e562398c-5e9a-43ce-8401-1e665e185227_208x208.jpg?v=1635775907" alt="">

   <h2>Swings</h2>
 </div>
   
 
 </div>
 <div class="btn1">
   <a routerLink="/about">View All</a>
 </div>



 
      

      
<div class="rooow">
    
  <div class="titees">
    <h1>Shop our sets</h1>
  </div>
  <div class="column1">
    <img class="mj1" src="https://d13r0hznkpv24o.cloudfront.net/media/amasty/webp/wysiwyg/luna-1_jpg.webp" alt="">
    <h2>Bedroom </h2>
  </div>

  <div class="column">
    <a routerLink="/about"> <img class="mj" src="https://d13r0hznkpv24o.cloudfront.net/media/amasty/webp/wysiwyg/Living_jpg.webp" alt=""></a>
    <h2>Living room </h2>
  </div>

    <div class="column" >
      <img  class="mj" src="https://d13r0hznkpv24o.cloudfront.net/media/amasty/webp/wysiwyg/Dining_jpg.webp" alt="">

    <h2>Dining room</h2>
  </div>

    <div class="column">
      <img class="mj" src="https://d13r0hznkpv24o.cloudfront.net/media/amasty/webp/wysiwyg/Outdoor_1__jpg.webp" alt="">

    <h2>Garden furniture</h2>
  </div>
  
  <div class="column" >
    <img class="mj" src="https://d13r0hznkpv24o.cloudfront.net/media/amasty/webp/wysiwyg/Kitchen_jpg.webp" alt="">

    <h2>Kitchens</h2>
  </div>
  

</div>
<hr>



<!--
<h1> Shop by item </h1>

<div class="word">
  <h1>Living Room</h1>
  <h1>Bedroom</h1>
  <h1>Dining Room</h1>
  <h1>Garden Furniture</h1>
  <h1>New</h1>

</div>
-->



            <div class="code">
              <div class=" twoshow12"> 

              <div class="carden">
           <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0025425_SSDSDENTS_3c63c_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>

             <div class="card-bodyen">
              <span class="text-black-50 "> Technology  furniture</span>

           <h5 class="card-titlee">The Best Collection In 2023 <br> Lorem ipsum dolor sitetu amet, consectetuer. consectetuer.</h5>
           <ul class="weite">
            <li>Furniture is an integral and integral element of architecture</li> 
            <li>Furniture is an integral and integral element of architecture</li>
            <li>Furniture is an integral and integral element of architecture</li>
            <li>Furniture is an integral and integral element of architecture</li>
           </ul>

           <div class="starr">
            <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span><br>
             </div>

              <div class="number">
               <span class="ccc">$420.00</span>
               <span class="ccc1">$820.00</span>

              </div>
              
          </div>
            </div>
           </div>
           <hr>
                 
                      
           <div class="twoshow12">     
              <div class="carden">

                <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0024817_TAJCDAI_4c300_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
             <div class="card-bodyen">
           <span class="text-black-50"> Technology  furniture</span>
           <h5 class="card-titlee">The Best Collection In 2023 <br> Lorem ipsum dolor sitetu amet, consectetuer. consectetuer.</h5>

           <ul class="weite">
            <li>Furniture is an integral and integral element of architecture</li> 
            <li>Furniture is an integral and integral element of architecture</li>
            <li>Furniture is an integral and integral element of architecture</li>
            <li>Furniture is an integral and integral element of architecture</li>
           </ul>

           <div class="starr">
            <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span><br>
             </div>

              <div class="number">
               <span class="ccc">$420.00</span>
               <span class="ccc1">$820.00</span>
              </div>
              
          </div>

             </div>
            </div>
           </div>
           
<hr>

           <div class="twoshow12">     
            <div class="carden">

              <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0024863_TVEMEDG70G_51213_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
           <div class="card-bodyen">
         <span class="text-black-50">Technology  furniture</span>
         <h5 class="card-titlee">The Best Collection In 2023 <br> Lorem ipsum dolor sitetu amet, consectetuer. consectetuer.</h5>

         <ul class="weite">
          <li>Furniture is an integral and integral element of architecture</li> 
          <li>Furniture is an integral and integral element of architecture</li>
          <li>Furniture is an integral and integral element of architecture</li>
          <li>Furniture is an integral and integral element of architecture</li>
         </ul>


         <div class="starr">
          <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span><br>
           </div>

            <div class="number">
             <span class="ccc">$420.00</span>
             <span class="ccc1">$820.00</span>
            </div>

           </div>
          </div>
         </div>

<hr>


         <div class=" twoshow12">     
          <div class="carden">

            <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0012158_DEWAEV73180_8aa4f_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
         <div class="card-bodyen">
       <span class="text-black-50">Technology  furniture</span>
         <h5 class="card-titlee">The Best Collection In 2023 <br> Lorem ipsum dolor sitetu amet, consectetuer. consectetuer.</h5>

         <ul class="weite">
          <li>Furniture is an integral and integral element of architecture</li> 
          <li>Furniture is an integral and integral element of architecture</li>
          <li>Furniture is an integral and integral element of architecture</li>
          <li>Furniture is an integral and integral element of architecture</li>
         </ul>


         <div class="starr">
          <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span><br>
           </div>

            <div class="number">
             <span class="ccc">$420.00</span>
             <span class="ccc1">$820.00</span>
            </div>

         </div>
        </div>
       </div>
                <hr> 
      
       

       <div class=" twoshow12">     
        <div class="carden">

          <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0002256_sparrow-3-piece-table-set_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
       <div class="card-bodyen">
     <span class="text-black-50"> Technology  furniture</span>
     <h5 class="card-titlee">The Best Collection In 2023 <br> Lorem ipsum dolor sitetu amet, consectetuer. consectetuer.</h5>

     <ul class="weite">
      <li>Furniture is an integral and integral element of architecture</li> 
      <li>Furniture is an integral and integral element of architecture</li>
      <li>Furniture is an integral and integral element of architecture</li>
      <li>Furniture is an integral and integral element of architecture</li>
     </ul>


     <div class="starr">
      <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span><br>
       </div>

        <div class="number">
         <span class="ccc">$420.00</span>
         <span class="ccc1">$820.00</span>
        </div>

   

       </div>
      </div>
     </div>

     <hr> 


     <div class=" twoshow12">     
      <div class="carden">

        <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0002662_chalet-ii-king-bed_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
     <div class="card-bodyen">
   <span class="text-black-50"> Technology  furniture</span>
   <h5 class="card-titlee">The Best Collection In 2023 <br> Lorem ipsum dolor sitetu amet, consectetuer. consectetuer.</h5>

   <ul class="weite">
    <li>Furniture is an integral and integral element of architecture</li> 
    <li>Furniture is an integral and integral element of architecture</li>
    <li>Furniture is an integral and integral element of architecture</li>
    <li>Furniture is an integral and integral element of architecture</li>
   </ul>


   <div class="starr">
    <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span><br>
     </div>

      <div class="number">
       <span class="ccc">$420.00</span>
       <span class="ccc1">$820.00</span>
      </div>

     </div>
    </div>
   </div>

   <hr> 


   <div class="twoshow12">     
    <div class="carden">

      <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0000877_paul-bunyan-ii-chair_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
   <div class="card-bodyen">
 <span class="text-black-50">Technology  furniture</span>
 <h5 class="card-titlee">The Best Collection In 2023 <br> Lorem ipsum dolor sitetu amet, consectetuer. consectetuer.</h5>

 <ul class="weite">
  <li>Furniture is an integral and integral element of architecture</li> 
  <li>Furniture is an integral and integral element of architecture</li>
  <li>Furniture is an integral and integral element of architecture</li>
  <li>Furniture is an integral and integral element of architecture</li>
 </ul>


 <div class="starr">
  <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span><br>
   </div>

    <div class="number">
     <span class="ccc">$420.00</span>
     <span class="ccc1">$820.00</span>
    </div>

   </div>
  </div>
 </div>
 
 <hr> 

 <div class="twoshow12">     
  <div class="carden">

    <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0010634_side-accent-table-red-236_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
 <div class="card-bodyen">
<span class="text-black-50"> Technology  furniture</span>
<h5 class="card-titlee">The Best Collection In 2023 <br> Lorem ipsum dolor sitetu amet, consectetuer. consectetuer.</h5>

<ul class="weite">
 <li>Furniture is an integral and integral element of architecture</li> 
 <li>Furniture is an integral and integral element of architecture</li>
 <li>Furniture is an integral and integral element of architecture</li>
 <li>Furniture is an integral and integral element of architecture</li>
</ul>


<div class="starr">
  <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span><br>
   </div>

    <div class="number">
     <span class="ccc">$420.00</span>
     <span class="ccc1">$820.00</span>
    </div>

 </div>
</div>
</div>

<hr> 

<div class="twoshow12">     
  <div class="carden">

    <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0002267_joana-table-6-chairs.jpeg" class="card-img-top"  alt="blog post 1 "></a>
 <div class="card-bodyen">
<span class="text-black-50"> Technology  furniture</span>
<h5 class="card-titlee">The Best Collection In 2023 <br> Lorem ipsum dolor sitetu amet, consectetuer. consectetuer.</h5>

<ul class="weite">
 <li>Furniture is an integral and integral element of architecture</li> 
 <li>Furniture is an integral and integral element of architecture</li>
 <li>Furniture is an integral and integral element of architecture</li>
 <li>Furniture is an integral and integral element of architecture</li>
</ul>


<div class="starr">
  <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span><br>
   </div>

    <div class="number">
     <span class="ccc">$420.00</span>
     <span class="ccc1">$820.00</span>
    </div>

 </div>
</div>
</div>

<hr> 

<div class="twoshow12">     
<div class="carden">

  <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0023477_dryden-ii-royale-navy-sofa_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
<div class="card-bodyen">
<span class="text-black-50"> Technology  furniture</span>
<h5 class="card-titlee">The Best Collection In 2023 <br> Lorem ipsum dolor sitetu amet, consectetuer. consectetuer.</h5>

<ul class="weite">
 <li>Furniture is an integral and integral element of architecture</li> 
 <li>Furniture is an integral and integral element of architecture</li>
 <li>Furniture is an integral and integral element of architecture</li>
 <li>Furniture is an integral and integral element of architecture</li>
</ul>


<div class="starr">
  <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span><br>
   </div>

    <div class="number">
     <span class="ccc">$420.00</span>
     <span class="ccc1">$820.00</span>
    </div>


</div>
</div>
</div>

<hr> 

<div class="twoshow12">     
<div class="carden">

<a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0010908_st-james-light-pine-end-table_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
<div class="card-bodyen">
<span class="text-black-50"> Technology  furniture</span>
<h5 class="card-titlee">The Best Collection In 2023 <br> Lorem ipsum dolor sitetu amet, consectetuer. consectetuer.</h5>

<ul class="weite">
 <li>Furniture is an integral and integral element of architecture</li> 
 <li>Furniture is an integral and integral element of architecture</li>
 <li>Furniture is an integral and integral element of architecture</li>
 <li>Furniture is an integral and integral element of architecture</li>
</ul>


<div class="starr">
  <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span><br>
   </div>

    <div class="number">
     <span class="ccc">$420.00</span>
     <span class="ccc1">$820.00</span>
    </div>
</div>
</div>
</div>

<hr>






  <div class="twoshow12">     
    <div class="carden">
    
    <a routerLink="/about"><img src="https://estorishomezonelive.blob.core.windows.net/thumbs/0020991_watson-console_900.jpeg" class="card-img-top"  alt="blog post 1 "></a>
    <div class="card-bodyen">
    <span class="text-black-50"> Technology  furniture</span>
    <h5 class="card-titlee">The Best Collection In 2023 <br> Lorem ipsum dolor sitetu amet, consectetuer. consectetuer.</h5>
    
    <ul class="weite">
     <li>Furniture is an integral and integral element of architecture</li> 
     <li>Furniture is an integral and integral element of architecture</li>
     <li>Furniture is an integral and integral element of architecture</li>
     <li>Furniture is an integral and integral element of architecture</li>
    </ul>
    
    
    <div class="starr">
      <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span><br>
       </div>
    
        <div class="number">
         <span class="ccc">$420.00</span>
         <span class="ccc1">$820.00</span>
        </div>
    </div>
    </div>
    </div>
    
    <hr>