
<div class="rooow1">     
   <div class="slide3">
     <h5 class="WWWw">New Collection 2023</h5>  
     <P class="paraaa">Great Furniture Design Collection.</P>
     <a class="ppppoo" href="#"> Get Started  </a> 
   </div> 
 </div> 
   




<div class="scrl">
 <div class="scroll">

   <div class="crol">
    <h1>The Most Beautiful And Latest Products Ever.®</h1>
    <P>Lorem ipsum dolor sit amet, euismod tincidunt  ut laoreet dolor.</P>
    <a href="/">More Collection</a>
   </div>





   <div class="grid">


  

   
<div class="qrst">
  <img class="m8" src="https://imagescdn.simons.ca/images/12754/4131911/1/A1_2.jpg?__=3" width="310px" alt="">
</div>

<div class="qrst">
  <img class="m8" src="https://imagescdn.simons.ca/images/19438/22404431/41/A1_2.jpg?__=5" width="310px" alt="">

</div>

<div class="qrst">
  <img class="m8" src="https://imagescdn.simons.ca/images/12797/22309001/1/A1_2.jpg?__=4" width="310px" alt="">

</div>

<div class="qrst">
  <img class="m8" src="https://imagescdn.simons.ca/images/19249/22303647/1/A1_2.jpg?__=6" width="310px" alt="">

</div>

<div class="qrst">
  <img class="m8" src="https://imagescdn.simons.ca/images/15466/2223000/10/A1_2.jpg?__=3" width="310px" alt="">

</div>

<div class="qrst">
  <img class="m8" src="https://imagescdn.simons.ca/images/13979/2212100/10/A1_2.jpg?__=7" width="310px" alt="">

</div>

<div class="qrst">
  <img class="m8" src="https://imagescdn.simons.ca/images/19249/22304655/1/A1_2.jpg?__=4" width="310px" alt="">

</div>



<div class="qrst">
  <img class="m8" src="https://imagescdn.simons.ca/images/19249/22303647/1/A1_2.jpg?__=6" width="310px" alt="">

</div>

<div class="qrst">
  <img class="m8" src="https://imagescdn.simons.ca/images/12754/22302005/1/A1_2.jpg?__=5" width="310px" alt="">

</div>
</div>

 </div>
</div>


<h1 class="xass">Our Categories</h1>

<div class="new">
  <div class="old">
    
    
      <div class="saa">
        <a routerLink="/about"> <img class="m4" src="https://www.durhamfurniture.com/media/images/216_-_bedroom_-_scene_2.max-1280x720_AkP5Mxm.jpg" alt=""></a>

        <div class="bigo">
          <h1>BedRoom collections 2023</h1>
        </div>

      </div>
    
        <div class="saa" >

        <h2 class="xoxo"> BedRoom 226 Gentry</h2>
        <p>Gentry Collection - Transitional Style</p>
        <li>Clean Cherry/may contain resin pockets </li>
        <li>Available in Cherry & Designer Finishes (see configurator) </li>
        <li>Hardware – Single bore Matt Black pull</li>
        <li>Occasional Pieces with Finished Backs include Writing Desk and Night Stand
        </li>
        <a href="/montgaaat" class="bbtt">View All</a>
        
      </div>
  
    </div>


    <div class="old">
    
        <div class="saa" >

        <h2> OFFICE Collections 2023</h2>
        <p>Gentry Collection - Transitional Style</p>
        <li>Clean Cherry/may contain resin pockets </li>
        <li>Available in Cherry & Designer Finishes (see configurator) </li>
        <li>Hardware – Single bore Matt Black pull</li>
        <li>Occasional Pieces with Finished Backs include Writing Desk and Night Stand
        </li>
        <a href="/montgaaat" class="bbtt">View All</a>

        
      </div>


      <div class="saa">
        
        <a routerLink="/about"> <img class="m4" src="https://www.sunonglobal.com/bocupload/at/image/20220421/1650512376519497MqfC.jpg" alt=""></a>
        
        <div class="bigo">
          <h1>Office Collections 2023</h1>
        </div>
      </div>
  
    </div>
    
    <div class="old">

      <div class="saa">
        <a routerLink="/about"> <img class="m4" src="https://www.nobroker.in/blog/wp-content/uploads/2022/12/Furniture-Colour-Combinations.jpg" alt=""></a>

        <div class="bigo">
          <h1>Decor Collections 2023</h1>
        </div>

      </div>
    
      <div class="saa" >

      <h2> Decor Collections 2023</h2>

      <p>Gentry Collection - Transitional Style</p>
      <li>Clean Cherry/may contain resin pockets </li>
      <li>Available in Cherry & Designer Finishes (see configurator) </li>
      <li>Hardware – Single bore Matt Black pull</li>
      <li>Occasional Pieces with Finished Backs include Writing Desk and Night Stand
      </li>
      <a href="/montgaaat" class="bbtt">View All</a>

    </div>


    

  </div>

  
  <div class="old">
    
   


 

  <div class="saa" >

    <h2> Kitchen Design 2023</h2>
    <p>Gentry Collection - Transitional Style</p>
    <li>Clean Cherry/may contain resin pockets </li>
    <li>Available in Cherry & Designer Finishes (see configurator) </li>
    <li>Hardware – Single bore Matt Black pull</li>
    <li>Occasional Pieces with Finished Backs include Writing Desk and Night Stand
    </li>
    <a href="/montgaaat" class="bbtt">View All</a>

  </div>

  <div class="saa">
    <a routerLink="/about"> <img class="m4" src="https://havenly.com/blog/wp-content/uploads/2022/01/KyleeHouse-5180-800x575.jpg" alt=""></a>

    <div class="bigo">
      <h1>KITCHEN DESIGN </h1>
    </div>

  </div>

</div>
    </div>

    <div class="zxzx">
      <h1>Solid wood furniture, handcrafted in a variety of styles.</h1>
    </div>
   











